@import "../foundations/variables.scss";

.pageNews {
    margin-top: 50px;
    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    .listNews {
        flex-wrap: wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 25px;
    }
}

.singleActu {
    padding: 0px 30px;
    margin-top: 50px;
    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    .content {
        @media (max-width: 500px) {
            width: 90%;
            * {
                width: 100%;
            }
        }        
        @media (max-width: 1000px) {
            width: 90%;

        }
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        > * {
            margin-bottom: 25px;
        }
        figure {
            width: 80%;
            * {
                width: 100%;
            }
        }

        .wp-block-button a {
            background-color: $mainColorDark;
            border-radius: 0;
            color: white;
            width: 300px;
            transition: scale .5s;
            padding: 15px;
            margin-left: 10px;
            margin-right: 10px;
            &:hover {
                scale: 1.1;
                transition: scale .5s;
            }
        }

        p {
            width: 100%;
            word-break: break-word;
        }




    }
}