@import "../foundations/variables.scss";


.footer {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;

    > * {
        width: 320px;
    }
    .custom-logo {
        width: 100%;
        height: auto;
    }

    .custom-logo-link::after {
        display: none;
    }
    
    &__title {
        margin-bottom: 30px;
    }

    &__contactItem, &__infosItem, .menu-item {
        margin-bottom: 30px;
    }

    p, a {
        font-size: 2rem;
    }

    a {
        position: relative;
        padding-bottom: 3px;
    }

    a::after {
        margin-top: 5px;
        width: 0;
        height: 1px;
        background-color: $mainColorDark;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        transition: width .3s;
    }

    a:hover {
        color: $mainColorDark;
    }

    a:hover::after {
        width: 100%;
        transition: width .3s;

    }


}

.scroll-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: $mainColorDark;
    border-radius: 50%;
    box-shadow: $shadow;
    transition: background-color .3s;

    &:hover {
        transition: background-color .3s;
        background-color: $mainColor;
    }
    &__arrow {
        rotate: 90deg;
        filter: invert(1);
        width: 15px;
    
    }
}